{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{.Content }}
      </div>
    </div>
  </div>
</section>

{{ if .Params.forms.enable }}
{{ with .Params.forms }}
<section class="forms section pt-0">
	<div class="container">
		<div class="row">
		  <div class="col-12">
			<div style="width:100%;text-align:center">
			<form name="contact" method="POST" netlify>
				<p>
				  <label>Your Name: <input type="text" name="name" /></label>
				</p>
				<p>
				  <label>Your Email: <input type="email" name="email" /></label>
				</p>
				<p>
				  <label>Your Role: <select name="role[]" multiple>
					<option value="leader">Leader</option>
					<option value="follower">Follower</option>
					<option value="1">Follower</option>
				  </select></label>
				</p>
				<p>
				  <label>Message: <textarea name="message"></textarea></label>
				</p>
				<p>
				  <button type="submit">Send</button>
				</p>
			</form>
			<div>
		  </div>
		</div>
	</div>
<section>
{{ end }}
{{ end }}

{{ end }}

{{ end }}
