{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{.Content }}
	<div style="width:100%;text-align:center">
	<form name="contact" method="POST" netlify>
		<p>
		  <label>Your Name*: <input type="text" name="name" /></label>
		</p>
		<p>
		  <label>Your Email*: <input type="email" name="email" /></label>
		</p>
		<p>
		<p>
		  <label>国籍 Nationality: <input type="text" name="nationality" /></label>
		</p>
		<p>
		<p>
		  <label>Message(optional): <textarea name="message"></textarea></label>
		</p>
		<p>
		  <button type="submit">Send</button>
		</p>
	</form>
	<div>
      </div>
    </div>
  </div>
</section>

{{ end }}
