{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{.Content }}
	<div style="width:100%;text-align:center">
	<form name="contact" method="POST" netlify>
		<p>
		  <label>Your Name(フルネーム)*: <input type="text" name="name" /></label>
		</p>
		<p>
		  <label>Your Email*: <input type="email" name="email" /></label>
		</p>
		<p>
		<p>
		  <label>パーティーでのニックネーム　nick name*: <input type="name" name="nick name" /></label>
		</p>
		<p>
			
		  <label>性別*: <select name="sex[]" multiple>
			<option value="男 male">男 male</option>
			<option value="女 female">女 female</option>
			<option value="回答しない do not answer">回答しない do not answer</option>
		  </select></label>
		</p>
		<p>
		  <label>Message(optional): <textarea name="message"></textarea></label>
		</p>
		<p>
		  <button type="submit">Send</button>
		</p>
	</form>
	<div>
      </div>
    </div>
  </div>
</section>

{{ end }}
